body {
	background: #1A456F;
}

.container {
  margin: 100px auto 0 auto;
  padding: 0 15px auto 15px;
  width: 80%;
  max-width: 660px;
}

span {
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 20px;
	margin: 15px;
	color: rgba(255,255,255,0.3);
}

span.dix-2 {
	height: 0;
	width: 0;
	margin: 0;
}

span.il {
	color: rgba(255,255,255,1);
	font-weight: 900;
}

span.est {
	color: rgba(255,255,255,1);
	font-weight: 900;
}

span.heures {
	color: rgba(255,255,255,1);
	font-weight: 900;
}
