body {
	background: #1A456F;
}

.container {
  margin: 60px auto 0 auto;
  padding: 0 15px auto 15px;
  width: 80%;
  max-width: 660px;
}

span {
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 20px;
	margin: 15px;
	color: rgba(255,255,255,0.2);
}

span.il {
	color: rgba(255,255,255,1);
	font-weight: 900;
}

span.est {
	color: rgba(255,255,255,1);
	font-weight: 900;
}

span.heures {
	color: rgba(255,255,255,1);
	font-weight: 900;
}

div.alarm {
	text-align: center;
	margin: 20px 0;
}

div.alarm a{
	font-size: 20px;
	color: rgba(255,255,255,0.2);
}

div.alarm a:hover{
	color: rgba(255,255,255,1);
}
